<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new offer</title>
</head>
<body>
    <header class="header">
        <navbar class="navbar">
            <div>
                <a href="/auth/login">Acceso</a>
                <a href="/">Inicio</a>
            </div>
        </navbar>
    </header>

    <div class="form-container">
        <form class="form-container__form" action="/jobs/add-offer" method="POST">
            <label for="position">Puesto</label>
            <input type="text" id="position" name="position">
            <label for="company">Empresa</label>
            <input type="text" id="company" name="company">
            <label for="description">Descripción</label>
            <input type="text" id="description" name="description">
            <label for="location">Localidad</label>
            <input type="text" id="location" name="location">
            <label for="contactEmail">Email de contacto</label>
            <input type="text" id="contactEmail" name="contactEmail">
            <button type="submit">Enviar</button>
        </form>
        {{#if error}}
            <div>
                <p>{{error}}</p>
            </div>
        {{/if}}
    </div>
</body>
</html>