<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Add a new offer</title>
</head>
<body>
    <header class="header">
        <span class="header__logo-container">
            <img class="header__logo" src="/images/logo.png" alt="JobFinder logo">
        </span>
        <span>
            <h1 class="header__title">JobFinder</h1>
        </span>
        <span class="header__navbar-container">
            {{#if user}}
                <navbar class="navbar">
                    <span>
                        <a class="navbar__link" href="/">Volver</a>
                    </span>
                    <form class="navbar__link-container" action="/auth/logout" method="POST">
                        <button class="navbar__link" type="submit">Logout</button>
                    </form>
                </navbar>
            {{else}}
                <navbar class="navbar">
                    <span class="navbar__link-container">
                        <a class="navbar__link" href="/auth/login">Acceso</a>
                    </span>
                    <span class="navbar__link-container">
                        <a class="navbar__link" href="/auth/register">Registro</a>
                    </span>
                </navbar>
            {{/if}}
        </span>
    </header>

    <div class="form-container">
        <form class="form-container__form" action="/jobs/add-offer" method="POST" enctype="multipart/form-data">
            <span class="form-container__field">
                <label for="position">Puesto</label>
                <input type="text" id="position" name="position">
            </span>
            <span class="form-container__field">
                <label for="company">Empresa</label>
                <input type="text" id="company" name="company">
            </span>
            <span class="form-container__field">
                <label for="description">Descripción</label>
                <textarea id="description" name="description" rows='4' cols='50'></textarea>
            </span>
            <span class="form-container__field">
                <label for="location">Localidad</label>
                <input type="text" id="location" name="location">
            </span>
            <span class="form-container__field">
                <label for="contactEmail">Email de contacto</label>
                <input type="text" id="contactEmail" name="contactEmail">
            </span>
            <span class="form-container__field">
                <label for="companyLogo">Logo de la empresa</label>
                <input type="file" id="companyLogo" name="companyLogo">
            </span>
            <button class="form-container__button" type="submit">Enviar</button>
        </form>
        {{#if error}}
            <div>
                <p>{{error}}</p>
            </div>
        {{/if}}
    </div>
</body>
</html>