<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleos</title>
</head>
<body>
    <header class="header">
        <navbar class="navbar">
            <span>
                <a href="/">Volver</a>
            </span>
            <span>
                <a href="/jobs/add-offer">Crea una nueva oferta de empleo</a>
            </span>
        </navbar>
    </header>
    <main>
        <div>
            <h1>Nuestras Ofertas de Empleo
        </div>
        <ul>
            {{#each jobOffers}}
                <li>
                    <h3>Puesto: <a href="/jobs/{{_id}}">{{position}}</a></h3>
                    <h4>Empresa: {{company}}</h4>
                </li>
            {{/each}}
        </ul>
    </main>
</body>
</html>