<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Offers</title>
</head>
<body>
    <header class="header">

    </header>
    <main>
        <h1>Current Offers</h1>
        <span>
            <a href="/">Volver</a>
        </span>
        <span>
            <a href="/jobs/add-offer">Post a new job offer</a>
        </span>

        <ul>
            {{#each jobOffers}}
                <li>
                    <h3>Position: <a href="/jobs/{{_id}}">{{position}}</a></h3>
                    <h4>Company: {{company}}</h4>
                </li>
            {{/each}}
        </ul>
    </main>
</body>
</html>