<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <header class="header">
        <navbar class="navbar">
            <div>
                <a href="/auth/login">Acceso</a>
                <a href="/">Inicio</a>
            </div>
        </navbar>
    </header>

    <div class="form-container">
        <form class="form-container__form" action="/auth/register" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <label for="subRole">¿Buscas talento o trabajo?</label>
            <select id="subRole" name="subRole">
                <option value="company">Talento</option>
                <option value="candidate">Trabajo</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
        {{#if error}}
            <div>
                <p>{{error}}</p>
            </div>
        {{/if}}
    </div>

</body>
</html>